html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Hurricane", cursif;
  font-family: "Krona One", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: auto;
}

span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-family: "Hurricane", cursif;
}
